body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(160deg, rgb(45, 155, 30), rgba(111, 143, 99, 0.9), rgba(194, 255, 192, 0.8));
    display: flex;
    justify-content: center;
}

.app-container {
    max-width: 1250px;
}

.header {
    height: 100px;
    color: #fefff2;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium';
    padding: 15px;
    display: flex;
    justify-content: space-between;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: #4c8f65;
}

.footer {
    color: #fefff2;
    padding: 10px;
    text-align: center;
    background-color: #4c8f65;
    border-radius: 20px;
}

.nav {
    background-color: #fefff2;
    top: 0;
    padding: 10px;
    border-radius: 20px;
}

.nav ol>li {
    list-style: none;
    margin: 5px;
}

.nav a:hover {
    background-color: #4c8f65;
    color: #fefff2;
}

.article {
    background-color: #fefff2;
    padding: 50px;
    border-radius: 20px;
}

#pic-container {
    display: flex;
    justify-content: center;
}

.mySlides {
    display: flex;
    justify-content: center;
    width: 100%;
    border-radius: 20px;
    border: 2px solid;
    border-color: #555746;
}

#pic-button-container {
    display: flex;
    justify-content: left;
    margin: 10px 0px 0px -5px;
}

.button-img {
    display: flex;
    justify-content: flex-start;
    background-color: #4c8f65;
    border: none;
    border-radius: 4px;
    color: white;
    margin: 5px;
    padding: 8px 32px;
}

#map {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 500px;
    border-radius: 20px;
    border: 2px solid;
    border-color: #555746;
}

#main-title {
    margin-left: 12%;
}



.aside blockquote {
    background: #f9f9f9;
    border-left: 10px solid #4c8f65;
    border-radius: 0px 20px 20px 0px;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
}

.aside {
    background-color: #fefff2;
    padding: 10px;
    border-radius: 20px;
}